.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.section {
  width: 80%;
  margin: 0 auto;
}

.button {
  width: 22%;
  border: 1px solid black;
  height: 100px;
  display: inline-block;
  margin: 5px;
  font-size: 2rem;
}

#display {
  width: 60%;
  height: 110px;
  display: inline-block;
  border: 1px solid black;
  margin: 0px 10px;
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#history {
  font-size: 1.5rem;
}

.paper {
  background: #fff;
  padding: 30px;
  position: relative;
  box-shadow: inset 1px 1px 25px tan;
}

